* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100vw;
  height: 100vh;
}

.input-fields {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  text-align: left;
  border: 5px black solid;
  height: 100%;
  width: 100%;
}

.movie-list {
  background-color: skyblue;
  height: 50%;
  width: 100%;
  max-width: 500px;
  min-height: 500px;
  overflow: auto;
  padding: 15px;
  font-size: 20px;

}

.search-field {

}